.content-style{
    /* -fx-background-image: url(images/cqdxer.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size:100% 100%;
    -fx-background-position: center center;  */
    /* -fx-background-color : rgb(50,50,50); */
    -fx-background-color : linear-gradient(to right,rgb(14,14,14),rgb(31,31,31,0.9),rgb(50,50,50,0.9),rgb(14,14,14));
}
.top-style{
    -fx-background-color : rgb(125,124,132);
}
.left-style{
	-fx-border-color:rgb(255,255,255);
	-fx-background-color: rgb(125,124,132);
	-fx-background-radius: 10px;
}
.jfx-toggle-button {
	-fx-text-fill:rgb(255,198,23);
	-jfx-toggle-color: rgb(0,255,127);
    -jfx-untoggle-color: rgb(255,0,0);
    -jfx-toggle-line-color: #77C2BB;
    -jfx-untoggle-line-color: #999999;
}
.label{
    -fx-text-fill:rgb(255,198,23);
}
.button{
	/* -fx-font-size: 23; */
    -fx-text-fill:rgb(255,255,255);
    -fx-background-color : rgb(131,78,0);
}
.hover-button-style {
	-fx-text-fill:WHITE;
	-fx-background-color: rgb(255,0,0);
    -fx-background-radius: 50px;
    -fx-pref-height: 40px;
    -fx-pref-width: 40px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}
