.combo-box{
    -fx-background-color:green;
}
.combo-box .list-cell{
    -fx-background-color:green;
}

/*Edit Cell Color Only when cursor hover cell */
.combo-box .list-cell:hover{
    -fx-background-color:green;
}

/*Edit Cell Color Only when selected */
.combo-box .list-cell:selected{
    -fx-background-color: rgb(157, 255, 255);
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: rgb(157, 255, 255) ;
}